ZAMMAD_URL=http://{{ zammad_ip }}:{{ zammad_expose_port }}
ZAMMAD_API_TOKEN={{ zammad_api_token }}
ZAMMAD_GROUP={{ zammad_group }}
ZAMMAD_CUSTOMER_EMAIL={{ zammad_customer_email }}
ZAMMAD_BRIDGE_PORT={{ zammad_bridge_port }}
